<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"

      >

	<targets>
		<target xsi:type="File" name="infoFile" fileName="C:/tmp/Serv/Info_${shortdate}.log"              layout="${level} | ${date:format=HH\:mm\:ss.fff} | ${logger} | ${message}" />
		<target xsi:type="File" name="file" fileName="C:/tmp/Serv/Debug_${shortdate}.log"              layout="${level} | ${date:format=HH\:mm\:ss.fff} | ${logger} | ${message}" />
        <target xsi:type="File" name="ErrorFile" fileName="C:/tmp/Serv/Errors_${shortdate}.log"  layout="${level} | ${date:format=HH\:mm\:ss.fff} | ${message}" />
	</targets>

	<rules>
		<logger name="*" MinLevel="Debug"  writeTo="file" />
		<logger name="*" Level="Info"  writeTo="infoFile" />
        <logger name="*" MinLevel="Error"  writeTo="ErrorFile" />
	</rules>
</nlog>